<div class="enter"><strong>RailsMart</strong></div>
<div class="all">
  <div class="register">
    <%= link_to '会計システム','register_main',class:"list" %>
  </div>
  <div class="jornal">
    <%= link_to 'ジャーナル','journal_main',class:"list" %>
  </div>
  <div class="customor">
    <%= link_to '商品の検索','search_main',class:"list" %>
  </div>
  <div class="adddel">
    <%= link_to '商品の追加','add_main',class:"list" %>
  </div>
  <div class="customor">
    <%= link_to '会員の検索','customer_main',class:"list" %>
  </div>
  <div class="customor">
    <%= link_to '会員の登録','cadd_main',class:"list" %>
  </div>
</div>
