<div class="header">
  <table>
    <tr>
      <td class="head1">伝票番号</td><td class="head2">支払い確定日時</td><td class="head3">商品番号</td>
      <td class="head4">会員番号</td><td class="head5">客層</td><td class="head6">合計金額</td>
    </tr>
  </table>
</div>
<div class="journaltable">
  <table>
    <% @journal.reverse_each do |info| %>
    <tr>
      <td class="data1"><%= info.id %></td><td class="data2"><%= info.created_at %></td><td class="data3"><%= info.item_id %></td>
      <td class="data4"><%= info.customer_id%></td><td class="data5">
        <% case info.generation %>
          <% when 1 %>
        〜19 男性
          <% when 2 %>
          20代 男性
          <% when 3 %>
          30代 男性
          <% when 4 %>
          40代 男性
          <% when 5 %>
          50〜 男性
          <% when 6 %>
          〜19 女性
          <% when 7 %>
          20代 女性
          <% when 8 %>
          30代 女性
          <% when 9 %>
          40代 女性
          <% when 10 %>
          50〜 女性
        <% end %></td><td class="data6"><%= info.total %>円</td>
    </tr>
  <% end %>
  </table>
</div>

<div class="back_bt">
  <%= link_to '戻る','main_top',class:'' %>
</div>
