<!-- <h1>商品追加</h1>
  <div class="back_bt">
    <%= link_to '戻る','main_top' %>
  </div>

  <div class="add_items">
    <div class="error_m">
      <div id = "notice">
        <%= notice %>
      </div>
      <% if @item.errors.any? %>
      <h2><%= @item.errors.count %>件のエラーがあります。 </h2>

      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
    <div class="add_item">
      <%= form_tag add_path do %>
      商品番号 <%= text_field_tag :inum, @item.inum %><br>
      商品名　 <%= text_field_tag :iname, @item.iname %><br>
      単価　　 <%= text_field_tag :price, @item.price %>
    </div>
    <div class = "submit">
      <%= submit_tag("追加") %>
    </div>
    <% end %>
  </div> -->
  <h1>商品追加</h1>
  <div class="back_bt">
    <%= link_to '戻る','main_top' %>
  </div>


  <div class="errormessage">
    <div id = "notice">
      <%= notice %>
    </div>
    <% if @item.errors.any? %>
    <h2><%= @item.errors.count %>件のエラーがあります。 </h2>

    <ul>
      <% @item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>
  </div>





  <%= form_tag add_path do %>
  <div class="add_item">
    <span clss="num">商品番号(4桁) <span><%= text_field_tag :inum, @item.inum %><br>
    <span class="name">商品名 </span><%= text_field_tag :iname, @item.iname %><br>
    <span class="price">単価 </span><%= text_field_tag :price, @item.price %><br>
  </div>
  <div class = "submit">
    <%= submit_tag("登録") %>
  </div>
  <% end %>
  </div>
