<!DOCTYPE html>
<html>
<head>
  <title>Possystem</title>
  <%= include_gon(:init => true) %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= "#{controller.controller_name}" %>'>
<%= javascript_include_tag controller.controller_name %>
<%= yield %>

</body>
</html>
